/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    color: #3f4447;
}

html, body {
    height: 100%;
    min-height: 100%;
}

::-moz-selection {
    background: #d59a5e;
    text-shadow: none;
}

::selection {
    background: #d59a5e;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
    background-color: #becccf;
}

header, footer {
    position: fixed;
    width: 100%;
}

header {
    top: 0px;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #3f4447;
    font-size: 42px;
}

.twitter-button {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
    width: 33px;
    height: 33px;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    border: 2px solid #d59a5e;
}

    .twitter-button a {
        text-decoration: none;
        color: #d59a5e;
        display: block;
        padding: 8px;
    }

#main {
    height: 100%;
}

#about {
    background: #3f4447;
}

.signup {
    margin-top: 70px;
}

    .signup h1 {
        font-size: 60px;
        max-width: 440px;
        line-height: 65px;
        margin: 20px auto;
        text-align: center;
    }


    .signup .input-group {
        background: #fff;
        width: 270px;
        padding: 10px;
        margin: 30px auto;
    }

        .signup .input-group input {
            border: none;
            color: #7e959a;
            padding: 15px 5px;
        }

.phone {
    text-align: center;
}

.sign-up-button {
    background: none;
    border: none;
    color: #d59a5e;
}

footer {
    bottom: 0px;
}

a.about {
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-decoration: none;
    font-size: 35px;
    color: #3f4447;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 480px) {

    header {
        position: relative;
    }

    .signup h1 {
        font-size: 26px;
        line-height: 32px;
        margin: 10px auto;
    }

    .signup .input-group input {
        padding: 5px;
    }

    .phone img {
        width: 120%;
        margin-left: -10%;
    }
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot');
    src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('fonts/icomoon.woff') format('woff'),
        url('fonts/icomoon.ttf') format('truetype'),
        url('fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
    font-family: 'icomoon';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-twitter_icon, .icon-logo, .icon-close_btn, .icon-arrow_right, .icon-arrow_down {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.icon-twitter_icon:before {
    content: "\e000";
}
.icon-logo:before {
    content: "\e001";
}
.icon-close_btn:before {
    content: "\e002";
}
.icon-arrow_right:before {
    content: "\e003";
}
.icon-arrow_down:before {
    content: "\e004";
}

.floating{
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
}

@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);    }    
}
    
@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 15px);}
    to {-moz-transform: translate(0, -0px);}    
}


.scaling{
    float: left;
    -webkit-animation-name: scalex;
    -webkit-animation-duration:3s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -moz-animation-name: scale;
    -moz-animation-duration:3s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:ease-in-out;
}
    
    @-webkit-keyframes scalex{
        from {-webkit-transform: scale(0.9);}
        65% {-webkit-transform: scale(1.0);}
        to {-webkit-transform: scale(0.9);}    
    }
        
    @-moz-keyframes scale{
        from {-moz-transform: scale(0.9);}
        65% {-moz-transform: scale(1.0);}
        to {-moz-transform: scale(0.9);}    
    }


/* Caption Style 4 */
.turn-anim-target {
    height: 100%;
    -webkit-perspective: 700px;
    -moz-perspective: 700px;
    perspective: 700px;
    -webkit-perspective-origin: 0 50%;
    -moz-perspective-origin: 0 50%;
    perspective-origin: 0 50%;
}

.turn-anim-target #main {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    margin: 0;
    position: relative;
}

.turn-anim-target #main > div {
    overflow: hidden;
}

.turn-anim-target #main {
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
}

.no-touch .turn-anim-target.in #main,
.turn-anim-target.in #main {
    -webkit-transform: translateY(-25%);
    -moz-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    transform: translateY(-25%);
}

.turn-anim-target #about {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -50%;
    color: #ed4e6e;
    height: 250px;
    width: 100%;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
    transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .turn-anim-target.in #about,
.turn-anim-target.in #about {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s;
    transition: transform 0.4s, opacity 0.1s;
}

.turn-anim-target figcaption a {
    position: absolute;
    bottom: 20px;
    right: 20px;
}