
.container-fluid {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px
}

.eighty-nav {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.eighty-nav nav li > a:hover, .eighty-nav nav li > a:focus {
  text-decoration: none;
  background-color: transparent;
}

.eighty-nav nav li > a {
  text-decoration: none;
  background-color: transparent;
  color: #000;
  margin-top: 5px;
}

.eighty-nav nav li > a:hover {
  text-decoration: none;
  background-color: transparent;
  color: #000;
}

.page-wrapper {
  width: 100%;
  height: 100%;
}

.onepage-pagination {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
  right: 20px;
  top: 40%;
}

.onepage-pagination li a {
  margin: 14px 0;
}

.onepage-pagination li a {
  width: 6px;
  height: 6px;
  left: 10px;
}

.onepage-pagination li a.active {
  border: 0;
}

.onepage-pagination li a:before {
  width: 6px;
  height: 6px;
  background: #cedde0;
}

.onepage-pagination li a.active:before {
  background: #d59b5e;
  border: 0;
  width: 6px;
  height: 6px;
  left: 10px;
  margin: 0;
}

.animated.animated-2s {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.play-button {
  display: block;
  width: 72px;
  height: 72px;
  border-radius: 36px;
  margin: 0 auto;
  background-color: #d59b5e;
}

.play-button img {
}

.green
{
  margin-left: -52px;
}

.iphone-container {
  display: block;
  position: absolute;
  width: 372px;
  height: 726px;
  margin-left: -175px;
  z-index: 1;
  bottom: -480px;
  left: 50%;
  -webkit-transition: -webkit-transform .9s 0;
  -moz-transition: -moz-transform .9s 0;
  transition: transform .9s 0;
}

.iphone-container.animated {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.phone-video-container {
  position: relative;
}

.phone-video-container img,
.phone-video-container .video-container {
  position: absolute;
  top: 0px;
}

.phone-video-container .video-container {
  width: 265px;
  top: 76px;
  left: 43px;
}

.phone-video-container .video-container video {
  width: 265px;
}

.viewing-page-1 .iphone-container {
  -webkit-transform: translate3d(0, 0, 0) !important;
  -moz-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}

.viewing-page-2 .iphone-container {
  -webkit-transform: translate3d(0, -440px, 0) !important;
  -moz-transform: translate3d(0, -440px, 0) !important;
  transform: translate3d(0, -440px, 0) !important;
}

.viewing-page-3 .iphone-container {
  -webkit-transform: translate3d(0, -470px, 0) !important;
  -moz-transform: translate3d(0, -470px, 0) !important;
  transform: translate3d(0, -470px, 0) !important;
}

.viewing-page-4 .iphone-container {
  -webkit-transform: translate3d(0, -500px, 0) !important;
  -moz-transform: translate3d(0, -500px, 0) !important;
  transform: translate3d(0, -500px, 0) !important;
}

.viewing-page-5 .iphone-container {
  -webkit-transform: translate3d(0, 60px, 0) !important;
  -moz-transform: translate3d(0, 60px, 0) !important;
  transform: translate3d(0, 60px, 0) !important;
}

.center-content-block {
  margin: 0 auto;
}

.center-content-block h1,
.center-content-block p,
.center-content-block a {
  text-align: center;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.center-content-block h1 {
  color: #d59b5e;
  font-weight: 200;
  font-size: 4em;
  margin-bottom: 10px;
}

.center-content-block p {
  color: #000;
  font-weight: 200;
  font-size: 1.4em;
  line-height: 1.25em;
  letter-spacing: 0px;
  margin-bottom: 36px;
}

section {
  position: relative;
}

section .center-content-block {
  position: absolute;
  width: 780px;
  margin-top: -130px;
  margin-left: -390px;
  top: 50%;
  left: 50%;
}

section#intro .center-content-block {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

section#end .center-content-block {
  margin-top: -210px;
}

.moveTextUp {
  -webkit-transform: translate3d(0, -110px, 0);
  -ms-transform: translate3d(0, -110px, 0);
  transform: translate3d(0, -110px, 0);
}

section#intro .center-content-block h1 {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

section#intro .center-content-block p {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

section#intro .center-content-block a {
  -webkit-animation-delay: 2.2s;
  animation-delay: 2.2s;
}

section > article {
  position: absolute;
  bottom: 30%;
  left: 6%;
}

article > h2 {
  color: #d59b5e;
  font-weight: 200;
  font-size: 2.4em;
  letter-spacing: 0px;
}

article > p {
  max-width: 300px;
  font-size: 1.2em;
  line-height: 1.3em;
  font-weight: 200;
}

ul.videos {
  list-style-type: none;
  padding: 0;
  margin: 30px 0;
}

ul.videos > li {
  display: inline;
  margin: 0 10px 0 0;
}

ul.videos > li > a {
  color: #ccc;
  text-decoration: none;
}

ul.videos > li > a > img {
  opacity: 0.3;
}

ul.videos > li.active > a,
ul.videos > li > a:hover {
  color: #333;
}

ul.videos > li.active > a > img,
ul.videos > li > a:hover > img {
  opacity: 1;
}

.site-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.nav>li>a
{
  padding: 10px 10px;
}

.site-footer > .nav a:hover {
  background: transparent;
  text-decoration: underline;
}

.site-footer > .nav li.active > a {
  text-decoration: underline;
}

.site-footer > .navbar-right {
  margin-right: 0;
}

.site-footer > .navbar-right > li {
  padding: 15px;
  margin-top: 3px;
  color: #ccc;
  font-size: 12px;
}

.site-footer a
{
  font-size: 12px;
  color:#000;
}

@media (max-width: 900px) {
  .viewing-page-2 .iphone-container,
  .viewing-page-3 .iphone-container,
  .viewing-page-4 .iphone-container {
    -webkit-transform: translate3d(40%, -330px, 0) !important;
    -moz-transform: translate3d(40%, -330px, 0) !important;
    transform: translate3d(40%, -330px, 0) !important;
  }
}