<footer class="site-footer">
  <ul class="unstyled nav navbar-nav">
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/press">Press</a></li>
    <li><a href="/blog">Blog</a></li>
  </ul>
  <ul class="unstyled nav navbar-nav navbar-right">
    <li>Copyright &copy; {{ site.time | date: '%Y' }} – 80&trade;</li>
  </ul>
</footer>

<!--[if lt IE 9]>
    <script src="{{ "/js/vendor/jquery-1.11.1.min.js" | prepend: site.baseurl }}"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
    <script src="{{ "/js/vendor/jquery-2.1.1.min.js" | prepend: site.baseurl }}"></script>
<!--<![endif]-->

<script src="{{ "/js/vendor/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/plugins/jquery.onepage-scroll.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/plugins.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
