<header class="navbar navbar-static-top eighty-nav {% if page.animateLayout %} animated fadeInDown {% endif %}">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="https://itunes.apple.com/app/apple-store/id873847566?pt=836603&ct=Website%20Header&mt=8" class="visible-xs download-80 pull-right" target="_blank">Download 80™</a>
      <a href="/" class="navbar-brand"><img src="{{ "/img/logo.png" | prepend: site.baseurl }}" alt="80™ – Mileage Book" /></a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="unstyled nav navbar-nav navbar-right">
        <li><a href="https://itunes.apple.com/app/apple-store/id873847566?pt=836603&ct=Website%20Header&mt=8" target="_blank">Download 80™ for your iPhone</a></li>
      </ul>
    </nav>
  </div>
</header>