<header class="navbar navbar-static-top eighty-nav animated fadeInDown">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/" class="navbar-brand"><img src="{{ "/img/logo.png" | prepend: site.baseurl }}" alt="80™ – Mileage Book" /></a>
    </div>
    <nav role="navigation">
      <ul class="unstyled nav navbar-nav navbar-right">
        <li><a href="#">Benefits</a></li>
        <li><a href="#">About 80™</a></li>
        <li><a href="#">Download 80™</a></li>
      </ul>
    </nav>
  </div>
</header>