@font-face {
  font-family: "GothamBook";
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  src: url("GothamBook.otf") format("opentype");
}

@font-face {
  font-family: "GothamLight";
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  src: url("GothamLight.otf") format("opentype");
}